USE [Web]
GO
/****** Object:  Table [dbo].[DB]    Script Date: 11/26/2019 10:57:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB](
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DB] ([Name], [Code]) VALUES (N'ment1.get()', N'data')
